.grid(@number){
	width:  (1 / 12 * @number) * 100%;
}


@media (min-width: 1200px) {
}

@media (min-width: 768px) and (max-width: 1199px) {

}

@media (max-width: 767px) {
	.container_12 .mobile_grid_0 {		width: 0	}
	.container_12 .mobile_grid_1 {		.grid(1)	}
	.container_12 .mobile_grid_2 {		.grid(2)	}
	.container_12 .mobile_grid_3 {		.grid(3)	}
	.container_12 .mobile_grid_4 {		.grid(4)	}
	.container_12 .mobile_grid_5 {		.grid(5)	}
	.container_12 .mobile_grid_6 {		.grid(6)	}
	.container_12 .mobile_grid_7 {		.grid(7)	}
	.container_12 .mobile_grid_8 {		.grid(8)	}
	.container_12 .mobile_grid_9 {		.grid(9)	}
	.container_12 .mobile_grid_10 {		.grid(10)	}
	.container_12 .mobile_grid_11 {		.grid(11)	}
	.container_12 .mobile_grid_12 {		.grid(12)	}

	.main-background {
		.navigation {
			height: auto;


			.left, .right {
			}

			.next, .prev {
				top:0;
			}
		}
	}
	.content {
		max-height: none;
	}
}




